# Оптимизировать производство

In [1]:
import pandas as pd
import pulp as plp

In [2]:
input_file = "input_data.xlsx"
output_file = "result.xlsx"

In [3]:
sheetname = "Orders"
df_orders = pd.read_excel(input_file, sheetname)
df_orders

         MatrixName  OrderSize
0       Орион - 600        734
1       Орион - 700        722
2       Орион - 800       1622
3       Весна - 600        218
4      Весна  - 700        350
5      Весна  - 800        820
6            Сафари        292
7          Сафари 2        352
8         Сатурн ПГ         42
9         Сатурн ПО        584
10             Соло        374
11  Арабеска ПО 800         30
12           Октава         38

- NORDERS
- NLOT - кол-во мест для матриц пресса
- TCHANGE
- THEAT
- DIFF_TOT_TIME  - разница во времени окончания работ

In [4]:
NORDERS = df_orders.shape[0]
NLOT = 3

DIFF_TOT_TIME = 20

TCHANGE = 20
THEAT = 40

In [5]:
ORDERS = set(df_orders.MatrixName.values)
ORDERS

{'Арабеска ПО 800',
 'Весна  - 700',
 'Весна  - 800',
 'Весна - 600',
 'Октава',
 'Орион - 600',
 'Орион - 700',
 'Орион - 800',
 'Сатурн ПГ',
 'Сатурн ПО',
 'Сафари',
 'Сафари 2',
 'Соло'}

In [6]:
def convert_dataframe_to_dict(dataframe, key_columns, value_column):
    return (
        dataframe.loc[:, key_columns + [value_column]]
        .set_index(key_columns)
        .to_dict()[value_column]
    )

In [7]:
DURATION = convert_dataframe_to_dict(df_orders, ["MatrixName"], "OrderSize")
DURATION

{'Орион - 600': 734,
 'Орион - 700': 722,
 'Орион - 800': 1622,
 'Весна - 600': 218,
 'Весна  - 700': 350,
 'Весна  - 800': 820,
 'Сафари': 292,
 'Сафари 2': 352,
 'Сатурн ПГ': 42,
 'Сатурн ПО': 584,
 'Соло': 374,
 'Арабеска ПО 800': 30,
 'Октава': 38}

## Задача

$a_{j, m}$ - заказ j выполнился в лоте m

$d_{j}$ - полное время выполнения заказов j в лоте m

In [8]:
prob = plp.LpProblem("TestAssign", plp.LpMinimize)

In [9]:
a = plp.LpVariable.dicts(
            "a",
            [
                (j, m) for j in ORDERS for m in range(NLOT)
            ],
            cat=plp.LpBinary,
        )

In [10]:
d = plp.LpVariable.dicts("d", [m for m in range(NLOT)], cat=plp.LpInteger, lowBound=0)

#### Можно попробовать 2 целевых фунцции

1. $\text{minimize} \sum_{i \ne j} |d_j - d_i|$  - эта реализована ниже. Идея - времена выполения заказов в разных лотах не сильно отличается между собой
2. $\text{minimize} \sum_{i} d_i$

$d_i$ - полное время работы в лоте i

In [11]:
# objective
prob += plp.lpSum(d[m] for m in range(NLOT))

In [12]:
for j in ORDERS:
    prob += plp.lpSum(a[j, m] for m in range(NLOT)) == 1

In [13]:
for m in range(NLOT):
    prob += d[m] == plp.lpSum(a[j, m]*(DURATION[j] + TCHANGE + THEAT) for j in ORDERS) \
            - TCHANGE - THEAT \
            + plp.lpSum(a[j, _m]* TCHANGE for j in ORDERS for _m in range(NLOT) if _m != m)

In [14]:
# так модуль (abs) в целевой ф-ции 
for m1 in range(NLOT):
    for m2 in range(NLOT):
        if m1 == m2:
            continue
        prob += d[m1] - d[m2] <= DIFF_TOT_TIME
        prob += d[m1] - d[m2] >= -DIFF_TOT_TIME

In [15]:
prob.solve(), plp.value(prob.objective), plp.LpStatus[prob.status]

(1, 7298.0, 'Optimal')

In [16]:
cols = ["MatrixName", "LotNumber", "OrderSize"]
result = pd.DataFrame(columns=cols)
i = 0
for m in range(NLOT):
    print(f"{m} ---- {d[m].value()}")
    for j in ORDERS:
        if a[j, m].value() != 0:
            print(f"   {j}: {DURATION[j]}")
            result.loc[i, :] = j, m, DURATION[j]
            i += 1

0 ---- 2424.0
   Арабеска ПО 800: 30
   Октава: 38
   Орион - 800: 1622
   Соло: 374
1 ---- 2432.0
   Весна  - 800: 820
   Сафари 2: 352
   Весна - 600: 218
   Сафари: 292
   Весна  - 700: 350
2 ---- 2442.0
   Сатурн ПГ: 42
   Сатурн ПО: 584
   Орион - 600: 734
   Орион - 700: 722

# Думал это ответ, но это не так

In [17]:
result["Step"] = result.reset_index().groupby("LotNumber")["index"].rank(method="first", ascending=True)
result.sort_values(by="Step")

         MatrixName LotNumber OrderSize  Step
0   Арабеска ПО 800         0        30   1.0
4      Весна  - 800         1       820   1.0
9         Сатурн ПГ         2        42   1.0
1            Октава         0        38   2.0
5          Сафари 2         1       352   2.0
10        Сатурн ПО         2       584   2.0
2       Орион - 800         0      1622   3.0
6       Весна - 600         1       218   3.0
11      Орион - 600         2       734   3.0
3              Соло         0       374   4.0
7            Сафари         1       292   4.0
12      Орион - 700         2       722   4.0
8      Весна  - 700         1       350   5.0

# Ниже мусор.

In [18]:
def advance_production(dframe, step):
    dframe[f"Order_{step}"] = dframe[f"Order_{step-1}"]
    
    index_at_step = dframe["Step"] == step
    min_order_at_step = dframe.loc[index_at_step, f"Order_{step-1}"].min()
    dframe.loc[index_at_step, f"Order_{step}"] -= min_order_at_step
    return dframe

In [19]:
current_order = result.sort_values(by="Step").copy()
current_order.rename(columns={"OrderSize": "Order_0"}, inplace=True)

for step in range(1, int(result.Step.max())+1):
    current_order = advance_production(current_order, step)

In [20]:
current_order

,MatrixName,LotNumber,Order_0,Step,Order_1,Order_2,Order_3,Order_4,Order_5
0,Арабеска ПО 800,0,30,1.0,0,0,0,0,0
4,Весна - 800,1,820,1.0,790,790,790,790,790
9,Сатурн ПГ,2,42,1.0,12,12,12,12,12
1,Октава,0,38,2.0,38,0,0,0,0
5,Сафари 2,1,352,2.0,352,314,314,314,314
10,Сатурн ПО,2,584,2.0,584,546,546,546,546
2,Орион - 800,0,1622,3.0,1622,1622,1404,1404,1404
6,Весна - 600,1,218,3.0,218,218,0,0,0
11,Орион - 600,2,734,3.0,734,734,516,516,516
3,Соло,0,374,4.0,374,374,374,82,82
7,Сафари,1,292,4.0,292,292,292,0,0
12,Орион - 700,2,722,4.0,722,722,722,430,430
8,Весна - 700,1,350,5.0,350,350,350,350,0

In [21]:
current_order = result.sort_values(by="Step").copy()
current_order

         MatrixName LotNumber OrderSize  Step
0   Арабеска ПО 800         0        30   1.0
4      Весна  - 800         1       820   1.0
9         Сатурн ПГ         2        42   1.0
1            Октава         0        38   2.0
5          Сафари 2         1       352   2.0
10        Сатурн ПО         2       584   2.0
2       Орион - 800         0      1622   3.0
6       Весна - 600         1       218   3.0
11      Орион - 600         2       734   3.0
3              Соло         0       374   4.0
7            Сафари         1       292   4.0
12      Орион - 700         2       722   4.0
8      Весна  - 700         1       350   5.0

In [22]:
machine = current_order.loc[current_order.Step==1]
machine

        MatrixName LotNumber OrderSize  Step
0  Арабеска ПО 800         0        30   1.0
4     Весна  - 800         1       820   1.0
9        Сатурн ПГ         2        42   1.0

In [23]:
machine.loc[:, "OrderSize"] -= 350
machine

C:\Users\voev\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

        MatrixName LotNumber OrderSize  Step
0  Арабеска ПО 800         0      -320   1.0
4     Весна  - 800         1       470   1.0
9        Сатурн ПГ         2      -308   1.0

In [24]:
current_order.loc[current_order.MatrixName.isin(machine.MatrixName), "OrderSize"] = machine.OrderSize

In [25]:
current_order

         MatrixName LotNumber OrderSize  Step
0   Арабеска ПО 800         0      -320   1.0
4      Весна  - 800         1       470   1.0
9         Сатурн ПГ         2      -308   1.0
1            Октава         0        38   2.0
5          Сафари 2         1       352   2.0
10        Сатурн ПО         2       584   2.0
2       Орион - 800         0      1622   3.0
6       Весна - 600         1       218   3.0
11      Орион - 600         2       734   3.0
3              Соло         0       374   4.0
7            Сафари         1       292   4.0
12      Орион - 700         2       722   4.0
8      Весна  - 700         1       350   5.0